@{
	ViewData["Title"] = "Customer Record";
}

<div class="form-inline">
    <button role="button" class="btn btn-primary">Add</button>
    <div class="input-group col-3">
        <input type="search" class="form-control" id="search-customer" placeholder="Search customer" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</div>

<hr />

<script>

    $(function () {

		$("#search-customer").typeahead({
            ajax: '/CustomerRecord/SearchCustomer',
            displayField: "Name",
            valueField: "ID",
            onSelect: function (item) {
                console.log(item);
			}
		});

    });

    function CustomerRecord(id) {
        $.ajax({
            url: "",
            type: ""
        });
	}

</script>