@{
	ViewData["Title"] = "Customer Record";
}

<div class="form-inline">
    <button role="button" class="btn btn-primary">Add</button>
    <div class="input-group col-3">
        <input type="search" class="form-control" id="search-customer" placeholder="Search customer" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</div>
<hr />

<div id="search-result" class="list-box"></div>

<script>
    $(function () {

        var ajax;
		$("#search-customer").autocomplete({
			source: '/CustomerRecord/SearchCustomer',
            formatResult: function (item) {
                console.log(item);
			}
		});

    });
</script>