@{
	//Layout = "~/Views/Shared/_LayoutReport.cshtml";
	ViewData["Title"] = "DeliveryOrders";
}

<table id="report" class="table table-striped" style="font-size: small;">
	<thead class="thead-dark text-nowrap">
		<tr>
			<th>No.</th>
			<th>WO</th>
			<th>Port of Arrival</th>
			<th>Vessel line/<br />Container owner</th>
			<th>Export Return Port</th>
			<th>Vessel Line Name</th>
			<th>Customer 1/<br /> Billing Party</th>
			<th>Destination</th>
			<th>Container #</th>
			<th>Size</th>
			<th>OBL/Booking #</th>
			<th>Pier Pass</th>
			<th>Customer Reference</th>
			<th>Weight</th>
			<th>T&E</th>
			<th>Status</th>
			<th>Order Received Date</th>
			<th>Vessel Arrival Date</th>
			<th>Available Date</th>
			<th>Last Free Day/<br />Cut off Date</th>
			<th>Customer Appt<br />Date & Time</th>
			<th>Terminal Pick<br />Up Date</th>
			<th>CXT US Yard<br /> Arrival Date</th>
			<th>Crossing Date</th>
			<th>Customer Delivery Date</th>
			<th>Customer E/L <br />Notification Date</th>
			<th>Pick Up Date<br />from Customer</th>
			<th>Perdiem Last<br />Free Day</th>
			<th>Termination Date</th>
			<th>Location</th>
			<th>Invoice #</th>
			<th>Arrival Date</th>
			<th>Export Date</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<link type="text/css" rel="stylesheet" href="//cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css" />
<script type="text/javascript" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="//editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<script>
	$(document).ready(function () {

		var report = $('#report').DataTable({
			scrollY: "560px",
			scrollX: true,
			fixedColumns: {
				leftColumns: 2
			},
			ajax: "api/ContainerReport/Get"
		});

		$("#report tbody").on("click", "tr", function (e) {
			var td = e.target;
			var i = $(td).index();
			var rep = report;
			var row = this;
			var block = [0,1,5,6,7,8];
			if (!block.includes(i)) {
				var data = report.row(this).data();
				var value = $(td).text();
				var input = $(`<input type="text" value="${value.trim()}" class="temp-edit">`);
				$(td).html('').append(input);
				$(input).blur(function () {
					$(td).text($(this).val().trim());
					$(this).remove();
					data[i] = $(input).val();
					rep.row(row).data(data).draw();
					data = rep.row(row).data();
					Edit(rep.row(row).data());
				});
				$(input).focus();
			}
		});

		function Edit(data) {
			var rep = report;
			var cr = new Object();
			cr.wo = data[1];
			cr.portOfArrival = data[2];
			cr.vesselLineContainerOwner = data[3];
			cr.exportReturnPort = data[4];
			cr.vesselLineName = data[5];
			cr.customer1BillingParty = data[6];
			cr.destination = data[7];
			cr.containerNo = data[8];
			cr.size = data[9];
			cr.oblBooking = data[10];
			cr.pierPass = data[11];
			cr.customerReference = data[12];
			cr.weight = data[13];
			cr.te = data[14];
			cr.status = data[15];
			cr.orderReceivedDate = data[16];
			cr.vesselArrivalDate = data[17];
			cr.availableDate = data[18];
			cr.lastFreeDate = data[19];
			cr.customerApptDate = data[20];
			cr.terminalPickupDate = data[21];
			cr.cxtusYardArrivalDate = data[22];
			cr.crossingDate = data[23];
			cr.customerDeliveryDate = data[24];
			cr.customerNotificationDate = data[25];
			cr.customerPickupDate = data[26];
			cr.perdiemLastFreeDay = data[27];
			cr.terminationDate = data[28];
			cr.location = data[29];
			cr.invoice = data[30];
			cr.arrivalDate = data[31];
			cr.exportDate = data[32];
			cr.rowNo = data[0];
			cr.id = data[33];
			$.ajax({
				url: "api/ContainerReport/Edit",
				type: "get",
				data: cr,
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {
					rep.row(data.rowNo).data(data).draw();
				}
			});
		}

	});
</script>